{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block head %}

<link rel="stylesheet" type = text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

{% endblock %}

{% block body %}


<!-- <h1>Home Page</h1> -->
<nav>
	<div class="logo">
		<h4>Placemnent Management</h4>
	</div>
	<ul class = "nav-links">
		<li><a href="#">Home</a>
		</li>
		{% if 'user' in session%}
		<li><a href="{{ url_for('login.logout') }}">Logout</a></li>
		{% else %}
		<li><a href="{{ url_for('login.logIn') }}">Login</a></li>
		{% endif %}
		</li>
		<li><a href="#">About</a>
		</li>
	</ul>
</nav>

{% if 'user' in session %}
{% if session['user']['type_'] == 'student' %}
<div class="wrapper">
<img src ="{{ url_for('static', filename='images/undraw_Brainstorming_re_1lmw.png') }}">
<ul class="function">
<li><a href="{{ url_for('profile.edit_profile')}}" class="link-button">Edit Your Profile</a></li>
<li><a href="#" class="link-button">View Your Profile</a></li>
</ul>
</div>
{% elif session['user']['type_'] == 'company' %}
<img src ="{{ url_for('static', filename='images/undraw_Business_decisions_re_84ag.png') }}">
{% else %}
<img src ="{{ url_for('static', filename='images/undraw_Experts_re_i40h.png') }}">
{% endif %}
{% else %}
<img src="{{ url_for('static', filename='images/undraw_Profile_re_4a55.png') }}">
{% endif %}


{% endblock %}
