<!---For Registration Page--->
{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block head %}

<link rel="stylesheet" type = text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type = text/css href="{{ url_for('static', filename='fstyles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<nav>
	<div class="logo">
		<h4>Registration Form</h4>
	</div>
	<ul class = "nav-links">
		<li><a href="{{ url_for('main.home') }}">Home</a></li>
		<li><a href="{{ url_for('login.logIn') }}">Login</a></li>
		<li><a href="#">About</a>
		</li>
	</ul>
</nav>
<div class = 'div-form'>
<form method="POST" class = 'Lform'>
	{{ form.hidden_tag() }}
	{{ form.userId.label }} {{ form.userId() }}
	<br>
	{{ form.password.label }} {{ form.password() }}
	<br>
	{{ form.cpassword.label }} {{ form.cpassword() }}
	<br>
	{{ form.type_.label }} {{ form.type_() }}
	<br>
		<p>
			{{msg}}
		</p>
	<br>

	{{ form.submit() }}
	<br>
</form>
</div>
{% endblock %}
