<!---for Create Role Page--->
{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block head %}

<link rel="stylesheet" type = text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type = text/css href="{{ url_for('static', filename='fstyles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<nav>
	<div class="logo">
		<h4>Create Role</h4>
	</div>
</nav>
<div class = 'div-form'>
<form method="POST" class = 'Lform'>
	{{ form.hidden_tag() }}
	{{ form.title.label }} {{ form.title() }}
	<br>
	{{ form.jd_link.label }} {{ form.jd_link() }}
	<br>
	{{ form.ctc.label }} {{ form.ctc() }}
	<br>
	{{ form.last_date.label }} {{ form.last_date() }}
	<br>
	{{ form.submit() }}
	<br>
</form>
</div>
{% endblock %}
