<!---For view profile page--->
{% extends "base.html" %}

{% block title %}ViewProfile{% endblock %}
{% block head %}

<link rel="stylesheet" type = text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type = text/css href="{{ url_for('static', filename='fstyles.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

{% endblock %}
{% block body %}
<nav>
	<div class="logo">
		<h4>{{profile['fname']}}'s profile</h4>
    </div>
    <ul class = "nav-links">
    <li><a href="{{url_for('main.home')}}">Home</a>
    </li>
  </ul>
	
</nav>
<div class = 'div-form'>
<table class="table">
  
   
 
  <tbody>
    <tr>
      <th scope="row" class="trow">user id</th>
      
      <td>{{profile['stu_uid']}}</td>
    </tr>
    <tr>
      <th scope="row" class="trow">first name</th>
    
      <td>{{profile['fname']}}</td>
    </tr>
    <tr>
      <th scope="row" class="trow">last name</th>
      
      <td>{{profile['lname']}}</td>
    </tr>
    <tr>
      <th scope="row" class="trow">cgpa</th>
      
      <td>{{profile['cgpa']}}</td>
    </tr>
    <tr>
      <th scope="row" class="trow">branch</th>
      
      <td>{{profile['branch']}}</td>
    </tr>
    <tr>
      <th scope="row" class="trow">contact_no</th>
     
      <td>{{profile['contact_no']}}</td>
    </tr>
    <tr>
      <th scope="row" class="trow">resume</th>
      
      <td>{{profile['resume_link']}}</td>
    </tr>
    <tr>
      <th scope="row" class="trow">email</th>
      
      <td>{{profile['email_id']}}</td>
    </tr>
    <tr>
      <th scope="row" class="trow">placement_status</th>
      
      <td>{{profile['placement_status']}}</td>
    </tr>
  </tbody>
</table>


</div>
{% endblock %}
